# Module 1.4 Assignment - Cassandra python programming
## Vinaya R Nayak - U74501808
 
### Description : Connect to cassandra db, create keyspace, tbles , populate values into tables and display the results of products at a particular location

In [1]:
import pandas as pd
from cassandra.cluster import Cluster

### load data

In [2]:
df = pd.read_csv('./inventory.csv')
df

,sku,name,description,warehouse_num
0,'PH01','Iphone11','Liquid Retina HD display',101
1,'PH02','Iphone 12','Resolution of : 1792‑by‑828‑pixel resolution...,101
2,'LA01','HP pavilion','Windows 11 Home AMD Ryzen 5000 processors',102
3,'LA04','MacBook M1','M1 includes Apple’s most advanced GPU. It be...,103
4,'TA01','Galaxy Tab 7 Lite','Light and Portable Sturdy Metal Frame 8MP Re...,104
5,'TA02','Galaxy Tab S7 FE 5G','Large Screen S PEN Multi-device Connectivity',106
6,'TV01','One Plus TV','Smarter tv. Smarter Choice. Vision Comfort (...,101
7,'TV02','Samsung TV','The new Samsung Neo QLED QN90C delivers pris...,105

### connect to cassandra

In [3]:
clstr = Cluster()
session = clstr.connect()

In [4]:
session.execute("CREATE KEYSPACE IF NOT EXISTS m14 WITH REPLICATION = {'class':'SimpleStrategy', 'replication_factor':1}")

In [7]:
rows =session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

finaltri
m14
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema
tri
trial
trials
tris
w04python

In [8]:
session.execute("""
CREATE TABLE IF NOT EXISTS m14.inventory ( 
    sku TEXT, 
    name TEXT, 
    description TEXT, 
    warehouse_num INT, 
    PRIMARY KEY(sku)
);
""")

In [10]:
for index, row in df.iterrows():
    session.execute(f"""INSERT INTO m14.inventory(sku, name, description, warehouse_num)  VALUES ({row[0].strip()}, {row[1].strip()}, {row[2].strip()}, {row[3]});""")

In [13]:
session.execute("CREATE INDEX IF NOT EXISTS ON m14.inventory (warehouse_num)")

In [14]:
rows = session.execute("select (sku, name, description, warehouse_num) from m14.inventory where warehouse_num = 101")
for row in rows:
    print(f"sku={row[0][0]}, name={row[0][1]}, description={row[0][2]}, warehouse_num={row[0][3]}")

sku=TV01, name=One Plus TV, description=Smarter tv. Smarter Choice. Vision Comfort (TÜV Rheinland Certified) 24W Speakers with Dolby Audio, warehouse_num=101
sku=PH01, name=Iphone11, description=Liquid Retina HD display, warehouse_num=101
sku=PH02, name=Iphone 12, description=Resolution of : 1792‑by‑828‑pixel resolution at 326 ppi, warehouse_num=101